/* Coded with love by Mutiullah Samim */
body,
html {
	margin: 0 !important;
	padding: 0 !important;
	height: 100%;
	font: 14px/19px $font-roboto-medium;
	color: $main-text-color;
}

a {
	cursor: pointer;
	text-decoration: none;
	&:hover {
		text-decoration: none !important;
	}
}

label {
	color: $main-text-color;
	margin-bottom: 3px;
}

input {
	border-color: #E8E8E8 !important;
	background-color: #FCFCFC !important;
	max-width:350px;
}

input:focus {
	outline: none;
}
input,
select,
textarea{
	border: 1px solid #AAAAAA !important;
	font-family: sans-serif !important;
    font-size: 13px !important;
    outline: 0 none;
    border-radius: 4px 4px 4px 4px !important;
	height:35px !important;
}

button:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.wrap {
	margin: 0 auto;
	background: #ffffff;
}

.bg-blue {
	background: $blue-color;
	min-height: 100%;
}

.bg-gray {
	background: #F4F4F4 !important;
}

.bg-buton-blue {
	background: $blue-color !important;
	color: #FFFFFF !important;
}

.border-top-blue {
	border-top: 1px solid $blue-color;
}

.text-color-danger {
	color: #EF7F7F;
}

.control-label {
	font-size: 16px;
	color: $blue-color;
	font-family: $font-roboto-bold;
	line-height: 22px;
}

.control-text {
	color: #7C7C7C;
	margin-top: 3px;
	font-size: 18px;
	line-height: 24px;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.ibox {
    border: 1px solid #cacaca!important;
    border-top: 1px solid #1abb9c!important;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.column-blue {
	background-color: $blue-color !important;
	color: #FFFFFF;
}

select:not(:focus):invalid {
	color: #C3C3C3;
}

.scroll::-webkit-scrollbar {
	display: none;
}

input,
textarea {
	&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: #C3C3C3;
		opacity: 1; /* Firefox */
		font-weight: normal;
	}
}

input,
textarea {
	&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: #C3C3C3;
		font-weight: normal;
	}
}

input,
textarea {
	&::-ms-input-placeholder { /* Microsoft Edge */
		color: #C3C3C3;
		font-weight: normal;
	}
}

input,
textarea {
	&::-webkit-input-placeholder { /* Edge */
		color: #C3C3C3;
		font-weight: normal;
	}
}

.form-group {
	font-size: 14px;
	font-family: $font-roboto-medium;
	border-bottom: 1px dotted #ccc;
    min-height: 35px;
    padding: 5px 10px 10px 5px;
    margin: 5px!important;
    display: flex;
	label {
		color: $main-text-color;
		margin-bottom: 3px;
		font-size: 14px;
		font-weight: 500;
		font-weight: bold;
		min-width: 135px;
	}
}

.btn-red {
	background: $blue-color !important;
	color: #FFFFFF !important;
	height: 50px;
	font-family: 'Noto Sans Bold';
	font-size: 15px !important;
	border: 2px solid !important;
	text-transform: uppercase;
	&:hover {
		background: #FFFFFF !important;
		color: $blue-color !important;
	}
	svg {
		margin-right: 5px;
	}
}

.btn-blue {
	background: #1ab394 !important;
	color: #FFFFFF !important;
	height: 50px;
	font-family: 'Noto Sans Bold';
	font-size: 15px !important;
	border: 2px solid !important;
	text-transform: uppercase;
	&:hover {
		background: #FFFFFF !important;
		color: #1ab394 !important;
	}
	svg {
		margin-right: 5px;
	}
}

ul {
	&.error {
		color: #a94442;
		background-color: #f2dede;
		border-color: #ebccd1;
		padding: 5px 35px;
		border-radius: 5px;
	}
}

.table-list {
	.btn {
		margin: 0px 5px;
		padding: 0px;
		i {
			font-size: 20px;
			color: #8b8f92;
			&:hover {
				color: $blue-color;
			}
		}
	}
}

.div-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

ul.pagination {
	li {
		&.active {
			a {
				background: $blue-color;
				color: #ffffff;
			}
		}
		&.disabled{
			a{
				background: #dee2e6;
			}
		}
	}
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    background-color: #f4f4f4;
	.nav-link.active{
		background-color: #FFFFFF !important;
		border-color: #DDDDDD #DDDDDD transparent !important;
		border-image: none;
		border-style: solid;
		border-width: 1px;
		color: #555555;
		cursor: default;
	}
}
.tab-content{
	padding: 5px 17px 17px 17px;
}

//LOADING
.loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 120px;
	height: 120px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #3498db;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	z-index: 1001;
}

.loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #e74c3c;
	-webkit-animation: spin 3s linear infinite;
	animation: spin 3s linear infinite;
}

.loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #f9c922;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

.loader-wrapper .loader-section.section-left {
	left: 0;
}

.loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 50%;
	height: 100%;
	background: hsla(0, 3%, 80%, .411);
	z-index: 1000;
}

.loader-wrapper .loader-section.section-right {
	right: 0;
}

.loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 50%;
	height: 100%;
	background: hsla(0, 3%, 80%, .411);
	z-index: 1000;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg); /* IE 9 */
		transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg); /* IE 9 */
		transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg); /* IE 9 */
		transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg); /* IE 9 */
		transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
	}
}