#wrapper-admin{
	.navbar.navbar-static-top{
		background-color: #3a4149;
		border-bottom: 1px solid #23282c;
		color:#FFFFFF;
	}
	.ibox{
	    border-radius: 10px;
		overflow: hidden;
	}
	.footer{
		background-color: #3a4149;
		border-top: 1px solid #23282c;
		color:#FFFFFF;
	}
}